# 服务器配置
SERVER_PORT=3001
CORS_ALLOW_ORIGIN=http://localhost:8080 # 前端项目地址

# 数据库配置
MYSQL_HOST=localhost       # MySQL 服务地址
MYSQL_PORT=3306            # MySQL 端口（默认3306）
MYSQL_USER=root            # MySQL 用户名（需替换为你的实际用户名）
MYSQL_PASSWORD=your_password    # MySQL 密码（需替换为你的实际密码）
MYSQL_DATABASE=lowcode_material # 数据库名（需提前手动创建该库）


# 默认模型配置
OPENAI_MODEL=deepseek-reasoner
OPENAI_API_KEY=your_api_key_here # 替换为实际的API密钥
OPENAI_BASE_URL=https://api.deepseek.com/v1

# 默认路径配置
DEFAULT_OUTPUT_DIR=output-log
DEFAULT_SCHEMA_LOG_DIR=schema-log
DEFAULT_API_LOG_DIR=raw-api-log