# 服务器配置
SERVER_PORT=3001
CORS_ALLOW_ORIGIN=http://localhost:8080 # 前端项目地址

# 默认路径配置
DEFAULT_OUTPUT_DIR=output-log
DEFAULT_SCHEMA_LOG_DIR=schema-log
DEFAULT_API_LOG_DIR=raw-api-log

# 默认模型配置
OPENAI_MODEL=deepseek-reasoner
OPENAI_API_KEY=your_api_key_here # 替换为实际的API密钥
OPENAI_BASE_URL=https://api.deepseek.com/v1