.shepherd-modal-overlay-container,
.tiny-guide {
  --ti-lowcode-help-guide-content-text-color: var(--ti-lowcode-base-text-color-4);
  --ti-lowcode-help-guide-title-text-color: var(--ti-lowcode-base-text-color-4);
  --ti-lowcode-help-guide-progress-style-text-color: var(--ti-lowcode-base-text-color-4);
  --ti-lowcode-help-guide-mask-bg-color: var(--ti-lowcode-base-bg-3);
}
.help-plugin-box {
  --ti-lowcode-help-box-bg-color: #3c3c3c;
  --ti-lowcode-help-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  --ti-lowcode-help-box-title-text-color: #ffffff;
  --ti-lowcode-help-box-item-text-color: #adb0b8;
  --ti-lowcode-help-box-question-border-top: rgba(255, 255, 255, 0.1);
  --ti-lowcode-help-box-question-item-text-color: #4f77ff;
}
