// 页面JS 插件面板
.plugin-page-js-container {
  --ti-lowcode-plugin-js-bg: var(--te-common-bg-default);
  --ti-lowcode-plugin-js-head-border-bottom-color: var(--te-common-border-divider);
  --ti-lowcode-plugin-js-help-link-color: var(--te-common-text-link);
}
