// 右侧属性面板 css 变量
#tiny-right-panel {
  --ti-lowcode-setting-panel-bg-color: var(--ti-lowcode-common-component-bg-47);
  --ti-lowcode-setting-panel-tabs-item-title-color: var(--ti-lowcode-common-text-color-43);
  --ti-lowcode-setting-panel-tabs-item-title-active-color: var(--ti-lowcode-common-text-color-18);
  --ti-lowcode-setting-panel-tabs-item-title-hover-color: var(--ti-lowcode-common-text-color-3);
  // 插件设置面板左侧边框
  --ti-lowcode-plugin-setting-panel-border-left-color: var(--ti-lowcode-common-text-color-49);
}

// 属性面板-属性-新建区块属性
.block-new-attr-popover {
  --ti-lowcode-attr-popover-menu-item-hover-bg-color: var(--ti-lowcode-common-component-bg-13);
  --ti-lowcode-attr-popover-menu-item-link-item-bg-color: var(--ti-lowcode-common-component-bg-9);
  --ti-lowcode-attr-popover-menu-item-link-item-color: var(--ti-lowcode-common-text-color-3);
  --ti-lowcode-attr-popover-menu-item-color: var(--ti-lowcode-common-text-color-45);
}

// 属性面板-属性-区块关联属性 icon
.block-link-field {
  --ti-lowcode-block-link-field-link-icon-color: var(--ti-lowcode-common-text-color-3);
  --ti-lowcode-block-link-field-link-icon-bg-color: var(--ti-lowcode-common-component-bg-60);
}

.className-container {
  --ti-lowcode-className-selector-container-color: var(--ti-lowcode-common-text-color-45);
  --ti-lowcode-className-selector-container-error-border-color: var(--ti-lowcode-common-status-error);
  --ti-lowcode-className-selector-container-error-bg-color: var(--ti-lowcode-common-component-bg-17);
  --ti-lowcode-className-selector-error-tips-color: var(--ti-lowcode-common-status-error);

  --ti-lowcode-className-selector-container-border-color: var(--ti-lowcode-common-border-color-41);
  --ti-lowcode-className-selector-container-hover-border-color: var(--ti-lowcode-common-border-color-6);
  --ti-lowcode-className-selector-container-empty-tips-color: var(--ti-lowcode-common-text-color-43);
  --ti-lowcode-className-selector-container-label-bg-color: var(--ti-lowcode-common-component-bg-18);
  --ti-lowcode-className-selector-container-label-color: var(--ti-lowcode-common-primary-color);
  --ti-lowcode-className-selector-container-option-btn-color: var(--ti-lowcode-common-primary-color);
  --ti-lowcode-className-selector-dropdown-list-bg-color: var(--ti-lowcode-common-component-bg-29);
  --ti-lowcode-className-selector-dropdown-list-item-color: var(--ti-lowcode-common-text-color-45);
  --ti-lowcode-className-selector-dropdown-list-item-active-bg-color: var(--ti-lowcode-common-component-bg-67);
  --ti-lowcode-className-selector-title-color: var(--ti-lowcode-common-text-color-45);
  --ti-lowcode-className-selector-dropdown-list-tips-color: var(--ti-lowcode-common-text-color-5);
}

:root {
  --ti-lowcode-className-selector-del-popover-bg-color: var(--ti-lowcode-common-component-bg-68);
  --ti-lowcode-className-selector-del-popover-title-color: var(--ti-lowcode-common-text-color-45);
}
