:root {
  --te-layout-common-border-color: var(--te-common-border-divider);
  --te-layout-common-bg-color: var(--te-common-bg-default);
  --te-layout-common-hover-bg: var(--te-common-bg-container);
  --te-layout-common-active-bg: var(--te-common-bg-prompt);
  --te-layout-common-checked-text-bg: var(--te-common-text-checked);
  --te-layout-common-color: var(--te-common-text-primary);
  --te-layout-common-text-color: var(--te-common-text-secondary);
  --te-layout-common-hover-color: var(--te-common-text-primary);
  --te-layout-common-active-color: var(--te-common-text-primary);
  --te-layout-common-primary-icon-color: var(--te-common-icon-primary);
  --te-layout-common-icon-color: var(--te-common-icon-secondary);
  --te-layout-common-icon-bg-hover: var(--te-common-bg-disabled);

  --te-layout-setting-canvas-handle-hover-bg: var(--te-common-bg-primary-checked);
}
