# CDN 本地化配置示例

# 将本地物料 bundle.json 的 script 和 css 复制到构建产物中
VITE_LOCAL_IMPORT_MAPS=true

# 将画布、页面预览需要的 vue、vue-i18n 等等依赖复制到构建产物中
VITE_LOCAL_BUNDLE_DEPS=true

# 将 VITE_LOCAL_BUNDLE_DEPS 复制到构建产物中的目录名称
VITE_LOCAL_BUNDLE_PATH=local-cdn-static

# VITE_LOCAL_BUNDLE_DEPS 的完整访问路径，如果 vite.config.js 中 base 配置为 ./，则为 base + 复制的目录名称
VITE_LOCAL_CDN_PATH=./local-cdn-static

# ⚠️注意：如果 vite.config.js 中 base 不为  ./，则需要加上 base的路径，比如 base 为：http://opentiny.design
# VITE_LOCAL_CDN_PATH=http://opentiny.design/local-cdn-static
