:root {
  --te-toolbars-logo-color: var(--te-common-text-primary);
  --te-toolbars-logo-text-color: var(--te-common-text-secondary);
  --te-toolbars-logo-primary-icon-color: var(--te-common-icon-primary);
  --te-toolbars-logo-bg-color: var(--te-common-bg-default);
  --te-toolbars-logo-hover-bg-color: var(--te-common-bg-container);
}
