:root {
  --te-template-common-text-color: var(--te-common-text-primary);
  --te-template-common-text-color-secondary: var(--te-common-text-secondary);
  --te-template-common-bg-color: var(--te-common-bg-default);

  // 列表
  --te-template-center-common-item-bg-color: var(--te-common-bg-container-weaken);
  --te-template-center-common-item-tag-bg-color: var(--te-common-bg-prompt);
  --te-template-center-common-item-desc-text-color: var(--te-common-text-secondary);
  --te-template-center-common-item-from-text-color: var(--te-common-text-weaken);
}
