:root {
  --te-toolbars-generate-code-button-bg-color: var(--te-common-bg-prompt);
  --te-toolbars-generate-code-color: var(--te-common-text-primary);
  --te-toolbars-generate-code-text-color: var(--te-common-text-secondary);
  --te-toolbars-generate-code-icon-color: var(--te-common-icon-secondary);
  --te-toolbars-generate-code-primary-icon-color: var(--te-common-icon-primary);
  --te-toolbars-generate-code-primary-bg-color: var(--te-common-bg-primary);
  --te-toolbars-generate-code-bg-color: var(--te-common-bg-default);
  --te-toolbars-generate-code-checked-border-color: var(--te-common-border-checked);
}
