.toolbar-theme-switch {
  --te-toolbar-theme-switch-radio-title: var(--te-common-text-secondary);
}
.theme-list {
  --te-toolbar-theme-popover-list-item-bg-color-hover: var(--te-common-bg-container);
  --te-toolbar-theme-popover-list-item-bg-color-active: var(--te-common-bg-container);
}
