:root {
  --te-template-common-bg-color: var(--te-common-bg-default);
  --te-template-common-bg-color-hover: var(--te-common-bg-container);
  --te-app-center-mask-modal-bg-color: var(--te-common-mask);

  // 列表 - 列表状态切换图标
  --te-template-app-center-btn-bg-color: var(--te-common-bg-container);
  --te-template-app-center-btn-icon-color: var(--te-common-icon-secondary);
  --te-template-app-center-btn-color-active: var(--te-common-icon-primary);
  --te-template-app-center-btn-border-color-active: var(--te-common-border-active);
  --te-template-app-center-btn-bg-color-active: var(--te-common-bg-default);
  --te-template-app-center-item-border-color: var(--te-common-border-divider);
  --te-template-app-center-item-border-color-hover: var(--te-common-border-checked);

  // 列表
  --te-template-center-common-item-bg-color: var(--te-common-bg-container-weaken);
  --te-template-center-common-item-tag-bg-color: var(--te-common-bg-prompt);
  --te-template-center-common-item-operation-bg-color: var(--te-common-bg-prompt);
  --te-template-center-common-item-operation-icon-color: var(--te-common-icon-secondary);
  --te-template-center-common-item-desc-text-color: var(--te-common-text-secondary);
}
