:root {
  --vp-c-brand: #5384ff;
  --vp-button-brand-border: #5384ff;
  --vp-button-brand-hover-border: #5384ff;
  --vp-button-brand-hover-bg: #759dff;
  --vp-local-search-highlight-bg: #7da6ff;
  --vp-c-brand-light: #747bff;
}
