:root {
  --te-toolbars-media-text-color: var(--te-common-text-secondary);
  --te-toolbars-media-color: var(--te-common-text-primary);
  --te-toolbars-media-checked-color: var(--te-common-text-checked);
  --te-toolbars-media-active-bg-color: var(--te-common-bg-prompt);
}
