:root {
  --te-canvas-breadcrumb-color: var(--te-common-text-primary);
  --te-canvas-breadcrumb-bg-color: var(--te-common-bg-default);
  --te-canvas-breadcrumb-weaken-color: var(--te-common-text-weaken);
  --te-canvas-breadcrumb-border-color: var(--te-common-border-divider);
  --te-canvas-breadcrumb-hover-bg-color: var(--te-common-bg-container);
}
