:root {
  // 高级配置
  --te-events-advanced-config-color: var(--te-common-text-secondary);
  --te-events-advanced-label-color: var(--te-common-text-secondary);
  --te-events-advanced-binding-state-bg-color: var(--te-common-bg-info);
  --te-events-advanced-binding-state-border-color: var(--te-common-border-info);
  --te-events-advanced-binding-state-color: var(--te-common-text-emphasize);

  // 事件绑定
  --te-bind-event-dialog-color: var(--te-common-text-secondary);
  --te-bind-event-dialog-content-left-border-color: var(--te-common-border-divider);
  --te-bind-event-dialog-content-right-monaco-color: var(--te-common-text-secondary);
  --te-bind-event-dialog-content-right-monaco-border-color: var(--te-common-border-divider);
  --te-bind-event-dialog-content-left-list-item-active-bg-color: var(--te-common-bg-container);
  --te-bind-event-dialog-tip-color: var(--te-common-text-weaken);
  --te-bind-event-dialog-tip-bg-color: var(--te-common-bg-container);
  --te-bind-event-dialog-danger-tip-color: var(--te-common-color-error);
  --te-bind-event-dialog-danger-border-color: var(--te-common-color-error);

  // 绑定事件
  --te-events-bind-action-item-border-color: var(--te-common-border-divider);
  --te-events-event-bind-color: var(--te-common-text-weaken);
  --te-events-bind-action-item-color: var(--te-common-text-primary);
  --te-events-bind-action-item-hover-bg-color: var(--te-common-bg-container);
  --te-events-bind-action-item-linked-color: var(--te-common-text-emphasize);
  --te-events-empty-action-bg-color: var(--te-common-bg-container);
  --te-events-empty-action-color: var(--te-common-text-weaken);

  --te-events-bind-event-list-color: var(--te-common-text-primary);
  --te-events-bind-event-list-item-disabled-color: var(--te-common-text-disabled);
  --te-events-bind-event-list-item-hover-bg-color: var(--te-common-bg-container);
}
