#canvas-wrap {
  --ti-lowcode-canvas-rect-border-color: var(--ti-lowcode-base-primary-color-2);
  --ti-lowcode-canvas-hover-line-in-bg-color: rgba(0, 255, 0, 0.1);
  --ti-lowcode-canvas-hover-line-forbid-bg-color: rgb(255, 66, 77);
  --ti-lowcode-canvas-choose-slot-border-color: var(--ti-lowcode-base-text-color-2);
  --ti-lowcode-canvas-choose-slot-color: var(--ti-lowcode-base-text-color-2);
  --ti-lowcode-canvas-corner-mark-left-color: var(--ti-lowcode-base-text-color-2);
  --ti-lowcode-canvas-corner-mark-bottom-right-color: var(--ti-lowcode-base-text-color-3);
  --ti-lowcode-canvas-corner-mark-bottom-right-border-color: #c2c2c2;
  --ti-lowcode-canvas-corner-mark-bottom-right-bg-color: #f5f5f5;
  --ti-lowcode-canvas-corner-mark-right-color: var(--ti-lowcode-base-gray-0);
  --ti-lowcode-canvas-corner-mark-right-bg-color: var(--ti-lowcode-base-primary-color-2);
  --ti-lowcode-canvas-select-corner-mark-left-color: var(--ti-lowcode-base-gray-0);
  --ti-lowcode-canvas-select-corner-mark-left-bg-color: var(--ti-lowcode-base-primary-color-2);

  --ti-lowcode-canvas-footer-border-top-color: var(--ti-lowcode-common-border-color-4); // canvas 底部面包屑 边框色
  --ti-lowcode-canvas-tab-handle-bg: var(--ti-lowcode-common-secondary-text-color); // canvas 宽度拖动手柄 背景色
  --ti-lowcode-canvas-tab-handle-hover-bg: var(--ti-lowcode-common-primary-color); // canvas 宽度拖动手柄 hover 背景色
  --ti-lowcode-canvas-tab-handle-color: var(--ti-lowcode-common-text-color-2); // canvas 宽度拖动手柄 两条竖线颜色
  --ti-lowcode-canvas-menu-bg: var(--ti-lowcode-common-component-bg); // canvas 右键菜单背景
  --ti-lowcode-canvas-menu-item-color: var(--ti-lowcode-base-gray-90); // 右键菜单文字颜色
  --ti-lowcode-canvas-menu-item-hover-bg-color: #f5f5f5;
  --ti-lowcode-canvas-menu-border-color: #ddd;
  --ti-lowcode-canvas-menu-item-disabled-color: var(--ti-lowcode-base-text-color-4);
}
