:root {
  --te-component-common-color: var(--te-common-text-primary);
  --te-component-common-text-color: var(--te-common-text-secondary);
  --te-component-common-weaken-text-color: var(--te-common-text-weaken);
  --te-component-common-disabled-text-color: var(--te-common-text-disabled);
  --te-component-common-checked-color: var(--te-common-text-checked);
  --te-component-common-link-color: var(--te-common-text-link);
  --te-component-common-emphasize-color: var(--te-common-text-emphasize);
  --te-component-common-block-add-color: var(--te-common-text-purple);

  --te-component-common-primary-icon-color: var(--te-common-icon-primary);
  --te-component-common-icon-color: var(--te-common-icon-secondary);
  --te-component-common-hover-icon-color: var(--te-common-icon-hover);
  --te-component-common-bind-icon-color: var(--te-common-icon-link);

  --te-component-common-bg-color: var(--te-common-bg-default);
  --te-component-common-active-bg-color: var(--te-common-bg-container);
  --te-component-common-hover-bg-color: var(--te-common-bg-container);
  --te-component-common-error-bg-color: var(--te-common-bg-error);

  --te-component-common-error-color: var(--te-common-color-error);
  --te-component-common-warning-color: var(--te-common-color-warning);

  --te-component-common-border-color: var(--te-common-border-divider);
  --te-component-common-default-border-color: var(--te-common-border-default);
  --te-component-common-hover-border-color: var(--te-common-border-hover);
  --te-component-common-active-border-color: var(--te-common-border-active);
  --te-component-common--border-transparent: var(--te-base-color-transparent); // 透明色直接使用base的变量
  --te-component-common-button-border-color: var(--te-common-border-secondary);

  --te-component-common-shadow-color: var(--te-common-shadow-panel);

  --te-component-config-item-bind-bg-color: var(--te-common-bg-info);
  --te-component-config-item-bind-border-color: var(--te-common-border-info);

  --te-component-block-history-list-tag-bg-color: var(--te-common-bg-tag);
  --te-component-block-history-list-tag-color: var(--te-common-color-success);
  --te-component-block-bg-color: var(--te-common-bg-container);
  --te-component-block-publish-flag-bg-color: var(--te-common-bg-prompt);

  --te-component-close-icon-active-bg-color: var(--te-common-bg-prompt);
  --te-component-close-icon-hover-bg-color: var(--te-common-bg-prompt);

  --te-component-empty-tip-bg-color: var(--te-common-bg-container);
  --te-component-empty-tip-border-color: var(--te-common-color-success);

  --te-component-meta-description-bg-color: var(--te-common-bg-container);

  --te-component-meta-list-action-bg-color: var(--te-common-bg-container);

  --te-component-mask-modal-bg-color: var(--te-common-mask);

  --te-component-meta-list-item-bg-color: var(--te-common-bg-container);

  --te-component-meta-modal-bg-color: var(--te-common-bg-container-weaken);

  --te-component-svg-button-active-bg-color: var(--te-common-bg-prompt);
  --te-component-svg-button-hover-bg-color: var(--te-common-bg-prompt);

  --te-component-toolbar-base-button-bg-color: var(--te-common-bg-prompt);
}
