.plugin-panel {
  // 资源管理
  --ti-lowcode-bridge-list-color: var(--ti-lowcode-base-gray-90);
  --ti-lowcode-bridge-list-bg: var(--ti-lowcode-base-gray-10);
  --ti-lowcode-birdge-editor-border-color: var(--ti-lowcode-base-gray-20);
  --ti-lowcode-birdge-input-label-color: var(--ti-lowcode-base-text-color-1);
}
