:root {
  --ti-lowcode-datasource-toolbar-icon-color: var(--ti-lowcode-common-text-color-8);
  --ti-lowcode-datasource-tabs-border-color: var(--ti-lowcode-common-border-color-8);
  --ti-lowcode-datasource-toolbar-breadcrumb-color: var(--ti-lowcode-common-dark-2);
  --ti-lowcode-datasource-json-border-color: var(--ti-lowcode-common-primary-color);
  --ti-lowcode-datasource-tree-border-color: var(--ti-lowcode-common-border-color-9);
  --ti-lowcode-datasource-common-primary-color: var(--ti-lowcode-common-primary-color);
  --ti-lowcode-datasource-success-border-color: var(--ti-lowcode-common-border-color-9);
  --ti-lowcode-datasource-input-icon-color: var(--ti-lowcode-common-text-color-8);
  --ti-lowcode-datasource-dialog-demo-border-color: var(--ti-lowcode-common-text-color-8);
  --ti-lowcode-datasource-canvas-wrap-bg: var(--ti-lowcode-common-component-bg-11);
  --ti-lowcode-datasource-dialog-font-color: var(--ti-lowcode-common-text-color-9);
  --ti-lowcode-datasource-toolbar-bg: var(--ti-lowcode-common-component-bg-4);
  --ti-lowcode-datasource-description-error-color: var(--ti-lowcode-common-status-error);
  --ti-lowcode-datasource-common-text-main-color: var(--ti-lowcode-common-text-main-color);
  --ti-lowcode-datasource-toolbar-more-hover-color: var(--ti-lowcode-common-text-color-8);
  --ti-lowcode-datasource-delete-button-hover-bg: var(--ti-lowcode-common-component-bg-7);
  --ti-lowcode-datasource-common-text-color-5: var(--ti-lowcode-common-text-color-5);
  --ti-lowcode-datasource-common-empty-color: var(--ti-lowcode-common-empty-color);
  --ti-lowcode-datasource-toolbar-view-hover-bg: var(--ti-lowcode-common-component-bg-27);
  --ti-lowcode-datasource-common-hover-bg-1: var(--ti-lowcode-common-component-bg-25);
  --ti-lowcode-datasource-common-primary-text-color: var(--ti-lowcode-common-primary-text-color);
  --ti-lowcode-datasource-icon-hover-bg: var(--ti-lowcode-common-component-bg-27);
  --ti-lowcode-datasource-tabs-bg: var(--ti-lowcode-common-component-bg-5);
  --ti-lowcode-datasource-canvas-handle-hover-bg: var(--ti-lowcode-common-component-bg-9);
  --ti-lowcode-datasource-tabs-active-bg: var(--ti-lowcode-common-component-bg-5);
  --ti-lowcode-datasource-common-error-color: var(--ti-lowcode-common-error-color);
  --ti-lowcode-datasource-description-minor-color: var(--ti-lowcode-common-text-color-5);
  --ti-lowcode-datasource-description-warning-color: var(--ti-lowcode-common-component-bg-12);
  --ti-lowcode-datasource-error-tip-color: var(--ti-lowcode-common-error-color);
  --ti-lowcode-datasource-label-color: var(--ti-lowcode-common-text-color-8); // light
  --ti-lowcode-datasource-list-hover-color: var(--ti-lowcode-common-component-hover-bg);
  --ti-lowcode-datasource-btn-click-color: var(--ti-lowcode-common-btn-default-color);
  --ti-lowcode-datasource-tabs-bottom-border-color: var(--ti-lowcode-common-btn-default-border-color);
  --ti-lowcode-datasource-list-bottom-border-color: var(--ti-lowcode-common-component-bg-27);
  --ti-lowcode-datasource-switch-off-bg-color: var(--ti-lowcode-common-text-color-5);
  --ti-lowcode-datasource-switch-on-bg-color: var(--ti-lowcode-common-component-bg-9);
  --ti-lowcode-datasource-modal-text-color: var(--ti-lowcode-common-primary-text-color);
  --ti-lowcode-datasource-respones-select-color-bg: var(--ti-lowcode-common-component-bg);
  --ti-lowcode-datasource-respones-color-bg: var(--ti-lowcode-common-component-bg-9);
  --ti-lowcode-datasource-respones-border-color-bg: var(--ti-lowcode-common-component-bg);
  --ti-lowcode-datasource-select-border-right-color-bg: var(--ti-lowcode-common-component-bg-11);
  --ti-lowcode-datasource-select-border-color: var(--ti-lowcode-common-secondary-text-color);
}
