.bind-chatgpt {
  // chatGPT聊天窗问题模板文字颜色
  --ti-lowcode-chat-model-text: #191919;
  // chatGPT聊天窗问题模板文字边框颜色
  --ti-lowcode-chat-model-text-border: #cbcbcb;
  // chatGPT聊天窗提问框图标
  --ti-lowcode-chat-model-input-icon: #999999;
  // chatGPT聊天窗用户头像边框色
  --ti-lowcode-chat-model-avatar-border: #dfe1e6;
  // chatGPT聊天窗AI聊天文字背景
  --ti-lowcode-chat-model-ai-text-bg: #1476ff;
  // chatGPT聊天窗AI聊天文字背景边框
  --ti-lowcode-chat-model-ai-text-border: #1476ff;
  // chatGPT聊天窗AI聊天文字
  --ti-lowcode-chat-model-ai-text: #ffffff;
  // chatGPT聊天窗AI连接失败文字背景
  --ti-lowcode-chat-model-ai-fail-text-bg: #feeaeb;
  // chatGPT聊天窗AI连接失败文字背景边框
  --ti-lowcode-chat-model-ai-fail-text-border: #dc544f;
  // chatGPT聊天窗AI连接失败文字
  --ti-lowcode-chat-model-ai-fail-text: #191919;
  // chatGPT聊天窗用户聊天文字背景
  --ti-lowcode-chat-model-user-text-bg: #fafafa;
  // chatGPT聊天窗用户聊天文字边框
  --ti-lowcode-chat-model-user-text-border: #dbdbdb;
  // chatGPT聊天窗用户聊天文字
  --ti-lowcode-chat-model-user-text: #191919;
  // chatGPT聊天窗标题文字
  --ti-lowcode-chat-model-title: #333333;
  // chatGPT聊天窗基础图标
  --ti-lowcode-chat-model-common-icon: #8a887b;
  // chatGPT聊天窗输入框背景
  --ti-lowcode-chat-model-input-bg: #eeeeee;
  // chatGPT聊天窗发送按钮背景
  --ti-lowcode-chat-model-button-bg: #1476ff;
  // chatGPT聊天窗发送按钮边框
  --ti-lowcode-chat-model-button-border: #1476ff;
  // chatGPT聊天窗发送按钮文字
  --ti-lowcode-chat-model-button-text: #ffffff;

  // chatGPT加载
  --ti-lowcode-chat-loading-svg-color: var(--ti-lowcode-common-primary-color);
  --ti-lowcode-chat-loading-text-color: #595959;
}

.chat-model-popover {
  --ti-lowcode-chat-model-popover-bg: #fff;
  --ti-lowcode-chat-model-popover-color: var(--ti-lowcode-base-text-color);
  --ti-lowcode-chat-model-popover-active-bg: #fff;
  --ti-lowcode-chat-model-popover-active-color: var(--ti-lowcode-base-text-color-2);
}
