.shepherd-modal-overlay-container,
.tiny-guide {
  --ti-lowcode-help-guide-content-text-color: var(--ti-lowcode-common-text-color-8);
  --ti-lowcode-help-guide-title-text-color: var(--ti-lowcode-common-primary-text-color);
  --ti-lowcode-help-guide-progress-style-text-color: var(--ti-lowcode-common-primary-text-color);
  --ti-lowcode-help-guide-mask-bg-color: var(--ti-lowcode-common-component-bg-16);
}
.help-plugin-box {
  --ti-lowcode-help-box-bg-color: #ffffff;
  --ti-lowcode-help-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  --ti-lowcode-help-box-title-text-color: #191919;
  --ti-lowcode-help-box-item-text-color: #595959;
  --ti-lowcode-help-box-question-border-top: #ebebeb;
  --ti-lowcode-help-box-question-item-text-color: #1476ff;
  --ti-lowcode-help-box-item-hover-bg-color: #f5f5f5;
}
