.shepherd-modal-overlay-container,
.tiny-guide {
  --ti-lowcode-help-guide-content-text-color: var(--ti-lowcode-base-text-color-1);
  --ti-lowcode-help-guide-title-text-color: var(--ti-lowcode-base-primary-color-1);
  --ti-lowcode-help-guide-progress-style-text-color: var(--ti-lowcode-base-primary-color-1);
  --ti-lowcode-help-guide-mask-bg-color: inherit;
}
.help-plugin-box {
  --ti-lowcode-help-box-bg-color: #ffffff;
  --ti-lowcode-help-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  --ti-lowcode-help-box-title-text-color: #191919;
  --ti-lowcode-help-box-item-text-color: #191919;
  --ti-lowcode-help-box-question-border-top: #ebebeb;
  --ti-lowcode-help-box-question-item-text-color: #1476ff;
}
