:root {
  // 生命周期
  --ti-lowcode-life-cycle-alert-color: #808080;
  --ti-lowcode-life-cycle-item-hover-bg: var(--ti-lowcode-common-hover-bg-1);
  --ti-lowcode-life-cycle-item-disable-color: var(--ti-lowcode-base-text-link-color-2);
  --ti-lowcode-life-cycle-editor-border: var(--ti-lowcode-base-default-button-border-color);
}
