.tiny-engine-toolbar {
  // 头部工具栏
  --ti-lowcode-toolbar-border-bottom-color: var(--ti-lowcode-common-border-color-1);
  --ti-lowcode-toolbar-media-bg: var(--ti-lowcode-common-component-bg);
  --ti-lowcode-toolbar-media-setting-border-color: var(--ti-lowcode-common-border-color-1);
  --ti-lowcode-toolbar-title-color: var(--ti-lowcode-common-primary-text-color);
  --ti-lowcode-toolbar-sub-title-color: var(--ti-lowcode-common-text-color-6);
  --ti-lowcode-toolbar-hover-color: var(--ti-lowcode-common-text-color-63);
  --ti-lowcode-toolbar-view-active-bg: var(--ti-lowcode-common-component-bg-5);
  --ti-lowcode-toolbar-popover-bg: var(--ti-lowcode-common-component-bg);
  --ti-lowcode-toolbar-active-color: var(--ti-lowcode-common-text-color-6);
  --ti-lowcode-toolbar-user-img-border-color: var(--ti-lowcode-common-border-color-2);
  --ti-lowcode-toolbar-dot-color: var(--ti-lowcode-common-text-color-61);
  --ti-lowcode-toolbar-collapsed-toolbar-bg: var(--ti-lowcode-common-component-bg-25);
}
