.tiny-engine-toolbar {
  // 头部工具栏
  --ti-lowcode-toolbar-border-bottom-color: var(--ti-lowcode-common-border-color-4);
  --ti-lowcode-toolbar-media-bg: var(--te-common-bg-default);
  --ti-lowcode-toolbar-media-setting-border-color: var(--ti-lowcode-common-border-color-1);
  --ti-lowcode-toolbar-title-color: var(--te-common-text-primary);
  --ti-lowcode-toolbar-sub-title-color: var(--te-common-text-secondary);
  --ti-lowcode-toolbar-hover-color: var(--te-common-bg-container);
  --ti-lowcode-toolbar-view-active-bg: rgb(235, 235, 235); // 相当于 规范中定义的 #191919 透明度5%
  --ti-lowcode-toolbar-left-icon-bg-hover: rgb(240, 240, 240);
  --ti-lowcode-toolbar-active-color: var(--te-common-text-secondary);
  --ti-lowcode-toolbar-user-img-border-color: var(--te-common-border-divider);
  --ti-lowcode-toolbar-dot-color: var(--te-common-color-error);
  --ti-lowcode-toolbar-collapsed-toolbar-bg: #f5f5f5;
  --ti-lowcode-toolbar-right-line: #ebebeb;
}
