.outlinebox {
  --ti-lowcode-tree-color: var(--ti-common-color-text-dark-color);
  --ti-lowcode-tree-icon-color: var(--ti-common-color-text-dark-color);
  --ti-lowcode-tree-icon-hover-color: var(--ti-common-color-text-dark-color);
  --ti-lowcode-tree-selected-color: var(--ti-common-color-text-gray-color-4);
  --ti-lowcode-tree-selected-bg: var(--ti-common-color-bg-light-3);
}
