:root {
  --te-configurator-common-color: var(--te-common-text-primary);
  --te-configurator-common-text-color: var(--te-common-text-secondary);
  --te-configurator-common-weaken-text-color: var(--te-common-text-weaken);
  --te-configurator-common-disabled-text-color: var(--te-common-text-disabled);
  --te-configurator-common-checked-color: var(--te-common-text-checked);
  --te-configurator-common-link-color: var(--te-common-text-link);
  --te-configurator-common-emphasize-color: var(--te-common-text-emphasize);
  --te-configurator-common-block-add-color: var(--te-common-text-purple);

  --te-configurator-common-primary-icon-color: var(--te-common-icon-primary);
  --te-configurator-common-icon-color: var(--te-common-icon-secondary);
  --te-configurator-common-hover-icon-color: var(--te-common-icon-hover);
  --te-configurator-common-bind-icon-color: var(--te-common-icon-link);

  --te-configurator-common-bg-color: var(--te-common-bg-default);
  --te-configurator-common-active-bg-color: var(--te-common-bg-container);
  --te-configurator-common-hover-bg-color: var(--te-common-bg-container);
  --te-configurator-common-disabled-bg-color: var(--te-common-bg-disabled);
  --te-configurator-common-error-bg-color: var(--te-common-bg-error);
  --te-configurator-common-bg-transparent: var(--te-base-color-transparent);
  --te-configurator-common-switch-bg-color: var(--te-common-bg-switch);
  --te-configurator-common-switch-checked-bg-color: var(--te-common-bg-primary-checked);

  --te-configurator-common-error-color: var(--te-common-color-error);
  --te-configurator-common-warning-color: var(--te-common-color-warning);

  --te-configurator-common-border-color: var(--te-common-border-divider);
  --te-configurator-common-default-border-color: var(--te-common-border-default);
  --te-configurator-common-hover-border-color: var(--te-common-border-hover);
  --te-configurator-common-active-border-color: var(--te-common-border-active);
  --te-configurator-common--border-transparent: var(--te-base-color-transparent); // 透明色直接使用base的变量
  --te-configurator-common-button-border-color: var(--te-common-border-secondary);

  --te-configurator-button-group-active-bg-color: var(--te-common-bg-prompt);
  --te-configurator-button-group-bg-color: var(--te-common-bg-container);

  --te-configurator-html-attributes-bg-color: var(--te-common-bg-container);

  --te-configurator-layout-grid-bg-color: var(--te-common-bg-container);

  --te-configurator-number-bg-color: var(--te-common-bg-container);

  --te-configurator-select-icon-bg-color: var(--te-common-bg-prompt);

  --te-configurator-slider-bg-color: var(--te-common-bg-prompt);
  --te-configurator-slider-border-bg-divider-color: var(--te-common-border-bg-divider);

  --te-configurator-tabs-group-hover-bg-color: var(--te-common-bg-prompt);
  --te-configurator-tabs-group-selected-bg-color: var(--te-common-bg-prompt);
  --te-configurator-tabs-group-bg-color: var(--te-common-bg-container);
}
