:root {
  // 属性面板
  --te-props-common-color: var(--te-common-text-primary);
  --te-props-common-text-color: var(--te-common-text-secondary);
  --te-props-common-text-weaken-color: var(--te-common-text-weaken);
  --te-props-common-default-border-color: var(--te-common-border-default);
  --te-props-common-border-color: var(--te-common-border-divider);
  --te-props-common-hover-bg-color: var(--te-common-bg-container);
  --te-props-common-icon-primary-color: var(--te-common-icon-primary);
  --te-props-common-button-bg-color: var(--te-common-bg-container-weaken);
}
