:root {
  --te-toolbars-redoundo-text-color: var(--te-common-text-secondary);
  --te-toolbars-redoundo-color: var(--te-common-text-primary);
  --te-toolbars-redoundo-disabled-color: var(--te-common-text-disabled);
  --te-toolbars-redoundo-active-bg-color: var(--te-common-bg-prompt);
  --te-toolbars-redoundo-hover-icon-color: var(--te-common-icon-hover);
}
