:root {
  --te-canvas-container-color: var(--te-common-text-primary);
  --te-canvas-container-white-color: var(--te-base-gray-0);
  --te-canvas-container-text-color: var(--te-common-text-secondary);
  --te-canvas-container-weaken-color: var(--te-common-text-weaken);
  --te-canvas-container-checked-color: var(--te-common-text-checked);
  --te-canvas-container-disabled-color: var(--te-common-text-disabled);

  --te-canvas-container-icon-color: var(--te-common-icon-secondary);
  --te-canvas-container-primary-icon-color: var(--te-common-icon-primary);

  --te-canvas-container-divider-color: var(--te-base-gray-0);
  --te-canvas-container-checked-border-color: var(--te-common-border-checked);
  --te-canvas-container-hover-border-color: var(--te-common-border-hover);
  --te-canvas-container-border-color: var(--te-common-border-default);

  --te-canvas-container-bg-color: var(--te-common-bg-default);
  --te-canvas-container-hover-bg-color: var(--te-common-bg-container);
  --te-canvas-container-checked-bg-color: var(--te-common-bg-primary-checked);

  --te-canvas-container-hover-line-in-bg-color: var(--te-base-green-140);
  --te-canvas-container-hover-line-forbid-bg-color: var(--te-common-color-error);
  --te-canvas-container-hover-line-in-forbid-bg-color: var(--te-base-red-140);
  --te-canvas-container-choose-slot-color: var(--te-common-text-dark-inverse);
  --te-canvas-container-corner-mark-left-color: var(--te-common-text-emphasize);
  --te-canvas-container-iframe-scrollbar-thumb-color: var(--te-common-bg-default);
  --te-canvas-container-tab-handle-color: var(--te-common-border-hover); // canvas 宽度拖动手柄 两条竖线颜色

  --te-canvas-container-router-jumper-color: var(--te-common-text-dark-inverse);

  --te-canvas-container-short-cut-bg-color: var(--te-common-bg-container);
}
